div.mode {
  padding: 5px 5px 10px;
}

.tab-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}
.tab-4 > label {
  flex: 1 1;
  order: -1;
  position: relative;
  min-width: 70px;
  padding: .7em 1em;
  background-color: #f2f2f2;
  color: #555;
  font-size: .9em;
  text-align: center;
  cursor: pointer;
}
.tab-4 > label:hover {
  background-color: #77aace;
  color: #fff;
}
.tab-4 > label:has(:disabled) {
  background-color: #f2f2f2;
  color: #ccc;
}
.tab-4 > label:has(:checked) {
  background-color: #2589d0;
  color: #fff;
}
.tab-4 > label:has(:checked)::before {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 9px;
  background-color: #2589d0;
  content: '';
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.tab-4 input {
  display: none;
}

button.btn {
  margin: 2px;
}

table {
  border-collapse: collapse;
  border: solid 4px #333;
}
td {
  padding: 0px;
}
@for $i from 1 through 2 {
  td[class^="#{$i*3}_"] {
    border-top: solid 4px #333;
  }
  td[class$="_#{$i*3}"] {
    border-left: solid 4px #333;
  }
}