<div class="content">
  <div class="title">
    <h2>ナンプレ{{mode==="create" ? "作成" : "解答"}}</h2>
  </div>
  <div class="main">
    <table>
      <tbody>
        <tr *ngFor="let row of inputs; index as row_i">
          <td *ngFor="let data of row; index as line_i" [ngClass]="row_i+'_'+line_i">
            <app-square
              (click)="clickSquare(row_i*9+line_i)"
              [mode]="mode" 
              [context]="data" 
              [forcused]="row_i*9+line_i === forcusIndex"
              [highlighted]="(data.given || data.answer) === forcusNumber"
              [valid]="valids[row_i*9+line_i]"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <div>
      <button class="btn" (click)="changeMode('answer')" [hidden]="mode==='answer'">解答</button>
      <button class="btn" (click)="changeMode('memo')" [hidden]="mode==='memo'||mode==='create'">メモ</button>
      <button class="btn" (click)="changeMode('create')" [hidden]="mode==='create'">問題の修正</button>
    </div>
    <div>
      <button class="btn" (click)="autoAnswer()" [hidden]="mode==='create'" [disabled]="!all_valid">自動解答</button>
      <button class="btn" (click)="createSample()" [hidden]="mode!=='create'">サンプル作成</button>
      <button class="btn" (click)="resetAnser()" [hidden]="mode=='create'">解答リセット</button>
    </div>
  </div>
</div>