<div class="content">
  <div class="title">
    <h2>ナンプレ{{mode==="create" ? "作成" : "解答"}}</h2>
  </div>
  <div class="main">
    <app-square (click)="clickSquare(1)" [mode]="mode" [context]="{given: null, answer: null, memo: ''}" [forcused]="forcus===1"></app-square>
  </div>
  <div class="footer">
    <button class="btn" (click)="changeMode('answer')" [hidden]="mode==='answer'">解答</button>
    <button class="btn" (click)="changeMode('memo')" [hidden]="mode==='memo'||mode==='create'">メモ</button>
    <button class="btn" (click)="changeMode('create')" [hidden]="mode==='create'">問題の修正</button>
  </div>
</div>